---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { formatDateYYYYMMDD } from '../../utils/date.ts';
import { loadESPPPurchasesTaxes } from '../../utils/espp-calculations.ts';

const purchases = loadESPPPurchasesTaxes();
---

<BaseLayout>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">ESPP</h1>
            <h2 class="title is-2">Tax Considerations</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Grant Date</th>
                        <th>Purchase Date</th>
                        <th>Shares</th>
                        <th>Purchase Price</th>
                        <th>Purchase Market Price</th>
                        <th>Discount Amount</th>
                        <th>Long Term Gains Date</th>
                        <th>Qualifying Disposition Date</th>
                    </tr>
                </thead>
                <tbody>
                    {
                        purchases.map((purchase) => (
                            <tr>
                                <td>{formatDateYYYYMMDD(purchase.grantDate)}</td>
                                <td>{formatDateYYYYMMDD(purchase.purchaseDate)}</td>
                                <td class="has-text-right">{purchase.shares}</td>
                                <td class="has-text-right">${purchase.purchasePrice}</td>
                                <td class="has-text-right">${purchase.purchaseMarketPrice}</td>
                                <td class="has-text-right">${purchase.discountAmount}</td>
                                <td>{formatDateYYYYMMDD(purchase.longTermGainsDate)}</td>
                                <td>{formatDateYYYYMMDD(purchase.qualifyingDispositionDate)}</td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </div>
    </section>
</BaseLayout>
